@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

#main {
    background-color: #ded5c4;
    font-family: 'Poppins', sans-serif;
}


/*title style */
#title{
    text-align: center;
    padding: 20px;
}
#title h1 {
    font-size: 2.5rem;
}
#title p {
    font-size: 1.2rem;
    font-weight: 400;
}


/* Image Style */
#img-div{
    background-color: #faf6e9;
    margin: 0 15px;
}
#image {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
    padding-top: 30px;
}
#img-caption {
    font-size: 1rem;
    font-weight: 400;
    text-align: center;
    padding: 15px 0;
}

/* tribute info */
#tribute-info {
    width: 70%;
    margin: 0 auto;
}
#tribute-info h3 {
    text-align: center;
    font-size: 1.2rem;
    padding: 30px 0;
}
#tribute-info li {
    padding: 15px;
    font-size: 1rem;
    text-align: justify;
}

.gallery {
    width: 80%;
    margin: auto;
    display: flex;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 70px;
}
#photo {
    text-align: center;
    font-size: 0.9rem;
    font-weight: 400;
}
#photo img{
    max-width: 100%;
    height: auto;
}
.quotes {
    width: 80%;
    margin-top: -60px;
    padding: 12px 0;
    font-size: 1rem;
    font-weight: 300;
    text-align: justify;
}

.more {
    text-align: center;
    font-size: 1.1rem;
    font-weight: 600;
    padding: 20px;
}

.footer {
    text-align: center;
}

/*Media Queries*/
@media screen  and (max-width: 1200px) {
    .gallery {
        flex-direction: column;
    }
    #photo {
        margin-bottom: 80px;
    }
    #photo img{
        display: block;
        margin: auto;
    }
    #photo figcaption {
        width: 60%;
        margin: 10px auto;
    }
}
@media screen  and (max-width: 900px) {
    #tribute-info {
        width: 80%;
    }
}